@use "base";


html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}


:root{
    --color-light-grey: #F4F2F2;
    --color-dark-grey: #D9D9D9;
    --color-dark-grey-2: #777;
    --color-primary-red: #CE2227;
    --color-text: rgba(0, 0, 0, 0.95);
}

*{
    padding: 0;
    margin: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}


body {
    font-family: Montserrat;
    font-weight: 400;
    line-height: 1.6;
    min-height: 100vh;
    scroll-behavior: smooth;
    color: var(--color-text);
    background-color: #fafafa;
}
